.btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 52px;
  border-radius: $br-main;
  color: $clr-white;
  background: $clr-main;

  font: {
    size: 14px;
  }

  transition: background 200ms ease-out,
              box-shadow 200ms ease-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;

  @include screens(md)
  {
    width: 382px;
    height: 64px;
    font-size: $font-ms;
  }

  @include screens(lg)
  {
    width: 554px;
    height: 72px;
    font-size: 28px;
  }

  &:hover:not(:disabled):not(.btn--no-hover)
  {
    box-shadow: 0px 0px 24px 0px $clr-secondary-shadow;
  }

  &:active:not(:disabled):not(.btn--no-active)
  {
    background: $clr-dark-main;
    box-shadow: none;
  }

  &--disabled
  {
    background: $clr-gray0;
    pointer-events: none;
    cursor: default;
  }

  &--medium
  {
    width: 144px;
    height: 40px;
    font-size: 12px;

    @include screens(md)
    {
      width: 280px;
      height: 64px;
      font-size: $font-ms;
    }

    @include screens(lg)
    {
      width: 326px;
      height: 80px;
      font-size: 28px;
    }
  }

  &--small
  {
    max-width: 200xp;
    width: 104px;
    height: 32px;
    font-size: 12px;

    @include screens(md)
    {
      width: 180px;
      height: 48px;
      font-size: 20px;
    }

    @include screens(lg)
    {
      min-width: 140px;
      width: 10.4vw;
      height: 50px;
    }

    @include screens(xl)
    {
      min-width: 180px;
      height: 56px;
      font-size: $font-m;
    }
  }
}

.btn--secondary
{
  border: 1px solid $clr-gray4;
  color: $clr-gray4;
  background: transparent;

  &:hover:not(:disabled):not(.btn--no-hover)
  {
    box-shadow: 0px 0px 24px 0px $clr-gray-shadow;
  }

  &:active:not(:disabled):not(.btn--no-active)
  {
    background: $clr-gray-white;
    box-shadow: none;
  }

  &--disabled
  {
    border: 1px solid $clr-gray0;
    color: $clr-gray0;
    pointer-events: none;
    cursor: default;
  }
}

.btn--danger
{
  color: $clr-white;
  background: $clr-rejected;

  &:hover:not(:disabled):not(.btn--no-hover)
  {
    box-shadow: 0px 0px 24px 0px lighten($clr-rejected, 20);
  }

  &:active:not(:disabled):not(.btn--no-active)
  {
    background: darken($clr-rejected, 5);
    box-shadow: none;
  }
}

.btn--half-radius
{
  border-radius: $br-secondary;
}

.btn--shadow
{
  box-shadow: 0px -4px 16px 0px $clr-main-shadow;
}

.btn-icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $clr-gray1;
  border-radius: 50%;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

