.cart-item
{
  $main-border: 1px solid $clr-gray1;

  display: flex;
  gap: 64px;
  padding: 48px 42px;
  border-top: $main-border;

  &__img
  {
    width: 200px;
    height: 200px;
    border: 1px solid #B5B5B5;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;

    img
    {
      width: 100%;
      height: 100%;
    }
  }

  &__info
  {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;

    &__header
    {
      display: flex;
      justify-content: space-between;
      padding-bottom: 18px;
      border-bottom: $main-border;
    }
  }

  &__strong
  {
    font-size: 32px;
    font-weight: 500;
    color: $clr-black;
  }

  &__product-name
  {
    width: 310px;
    line-height: 36px;
  }

  &__product-description
  {
    max-height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

