.input-counter
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding: 4px 16px;
  border: 1px solid $clr-gray1;
  border-radius: 30px;
  overflow: hidden;

  &__input
  {
    width: 3ch;
    font-size: 24px;
    text-align: center;
    color: $clr-gray-dark;
    border: none;
    outline: none;
  }

  &__btn
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    &[disabled]
    {
      .path-fill
      {
        fill: $clr-gray1;
      }

      .path-stroke
      {
        stroke: $clr-gray1;
      }
    }
  }
}

