.delivery-time
{
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header
  {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $clr-main;
    gap: 4px;
  }

  &__date
  {
    width: fit-content;
    font-size: 18px;
    color: $clr-dark-main;
    cursor: default;
  }

  &__drop-arrow
  {
    display: flex;

    &__img
    {
      transition: transform 200ms ease;

      &--flip
      {
        transform: rotate(-180deg);
      }
    }
  }

  &__slots
  {
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-out;
    column-gap: 20px;
    row-gap: 8px;

    &--open
    {
      height: 206px;
      padding: 5px;
    }
  }

  &__slot
  {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border: 1px solid $clr-main;
    border-radius: 4px;
    color: $clr-main;
    user-select: none;

    &--green
    {
      color: $clr-white;
      background-color: $clr-main;
    }

    &__icon
    {
      width: 24px;

      img
      {
        width: 100%;
      }
    }

    &__input
    {
      display: none;

      &:checked ~ label
      {
        color: $clr-white;
        background-color: $clr-blue;
        border: none;
      }
    }
  }
}

