.info-tooltip
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;

  &__content
  {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    transform: translateX(-30%);
    width: max-content;
    max-width: 80vw;
    padding: 12px 16px;
    color: $clr-white;
    font-size: 12px;
    font-weight: 400;
    background: $clr-gray-dark;
    box-shadow: 0px 0px 40px 0px rgba(241, 243, 244, 0.64);
    z-index: 50;

    @include screens(lg)
    {
      top: 50%;
      left: calc(100% + 12px);
      transform: translateY(-50%);
      max-width: 502px;
    }

    &:hover
    {
      display: block;
    }
  }

  &:hover
  {
    .info-tooltip__content
    {
      display: block;
    }
  }
}

