.logo
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo__icon
{
  width: 80ox;
  flex-shrink: 0;

  @include screens(md)
  {
    width: 130px;
  }

  @include screens(lg)
  {
    width: 180px;
  }
}

