.modal
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#000, 0.25);
  z-index: 400;

  &__body
  {
    position: relative;
    margin-inline: 24px;
    border-radius: 24px;
    background: $clr-white;
    box-shadow: 0px 4px 30px 0px rgba(133, 133, 133, 0.25);
  }

  &__close-btn
  {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;

    @include screens(md)
    {
      width: 40px;
      height: 40px;
      top: 24px;
      right: 24px;
    }

    @include screens(lg)
    {
      top: 32px;
      right: 32px;
    }
  }

  &__content
  {
    padding: 62px 24px 42px;

    @include screens(md)
    {
      padding: 64px;
    }

    @include screens(lg)
    {
      padding: 72px;
    }

    @include screens(xl)
    {
      padding: 96px;
    }
  }
}

