@use "sass:map";

.rounded-quota-meter
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 176px;

  &__body
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 166px;
    border-bottom: 1px solid $clr-gray0;
    border-radius: 50%;
    background-color: $clr-white;
    flex-shrink: 0;
    box-shadow: -4px 8px 11px 0px #BBBABA40;
  }

  &__content
  {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: $clr-gray4;
    font-size: 8px;
    font-weight: 300;
  }

  &__quota
  {
    &__remaining
    {
      color: $clr-main;
      font-size: 22px;
      font-weight: 700;
      line-height: 20px;
    }

    &__total
    {
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  &__rod
  {
    position: absolute;

    $positions: (
      1: (
        top: 9.15%,
        inline: 42.3%,
      ),
      2: (
        top: 14.06%,
        inline: 29%,
      ),
      3: (
        top: 22.92%,
        inline: 18.29%,
      ),
      4: (
        top: 36.56%,
        inline: 11.59%,
      ),
      5: (
        top: 51.37%,
        inline: 9.13%,
      ),
      6: (
        top: 62.16%,
        inline: 11.59%,
      ),
      7: (
        top: 69.68%,
        inline: 18.29%,
      ),
      8: (
        top: 76.1%,
        inline: 29%,
      ),
      9: (
        top: 78.6%,
        inline: 42.3%,
      ),
    );

    @each $i, $map in $positions
    {
      &--#{$i}
      {
        $inline: map.get($map, "inline");

        top: map.get($map, "top");
        right: $inline;

        &--inverted
        {
          right: unset;
          left: $inline;
          transform: rotateY(180deg);
        }
      }
    }
  }

  &__canvas
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  }
}

