.table
{
  width: max-content;
  border-collapse: collapse;
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  #{&}__container
  {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    #{&}__aux
    {
      width: max-content;
      overflow: auto;
    }
  }

  #{&}__tr
  {
    border-bottom: 1px solid $clr-gray1;
    border-spacing: 24px;

    #{&}--head
    {
      border-bottom: 0.5px solid rgba($clr-gray1, 0.3);
    }
  }

  #{&}__td
  {
    width: max-content;
    min-width: 64px;
    min-height: 45px;
    padding-block: 8px;
    padding-inline: 16px;
    color: $clr-gray4;

    #{&}--head
    {
      color: $clr-gray1;
    }

    #{&}--text_center
    {
      text-align: center;
    }
  }

  @media (min-width: 300px)
  {
    #{&}--250px
    {
      width: 250px;
    }
  }

  @media (min-width: 700px)
  {
    #{&}--500px
    {
      width: 500px;
    }
  }

  @media (min-width: 1200px)
  {
    #{&}--1000px
    {
      width: 1000px;
    }
  }
}

