.layout-form__header
{
  display: flex;
  justify-content: flex-start;
  padding-top: 48px;
  padding-inline: 5%;
}

.layout-form__body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 136px);
}

