.account-page
{
  margin-top: 64px;

  &__info
  {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__form
    {
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: clamp(340px, 77%, 1100px);
      padding: 32px;
      border: 1px solid rgba($clr-gray1, 0.3);
      border-radius: 24px;
    }
  }
}

