.customers
{
  $border: 1px solid $clr-gray1;

  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 48px;

  &__table
  {
    display: flex;
    flex-direction: column;
    border: $border;
    border-radius: 16px;

    &__header,
    &__body
    {
      padding-inline: 40px;
    }

    &__header
    {
      display: flex;
      gap: 12px;
      padding-top: 24px;
      padding-bottom: 16px;
      border-bottom: $border;
    }

    &__body
    {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 24px;
      column-gap: 16px;
      padding-top: 32px;
      padding-bottom: 24px;
    }

    &__cell
    {
      display: flex;
      align-items: center;
      font-size: $font-m;
      color: $clr-gray4;

      &--head
      {
        color: $clr-gray-dark;
      }
    }

    &__img
    {
      width: 56px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid $clr-gray1;
      overflow: hidden;

      img
      {
        width: 100%;
        height: 100%;
      }
    }
  }
}

