.dashboard-page
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
  margin-top: 48px;

  &__analytics
  {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 3%;
    flex-grow: 1;

    @include screens(md)
    {
      grid-template-columns: 1fr 1fr;
      column-gap: 5%;
    }

    @include screens(lg)
    {
      grid-template-columns: 1fr;
      column-gap: 5%;
    }

    @include screens(xl)
    {
      grid-template-columns: 1fr 1fr;
      column-gap: 11%;
    }

    &__box
    {
      position: relative;
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 18px;
      min-width: 320px;
      min-height: 300px;
      height: fit-content;
      padding: 16px;
      border-radius: 19px;
      background-color: $clr-white;
      box-shadow: 8px 8px 38px 0px rgba(234, 238, 246, 0.80);

      @include screens(md)
      {
        min-width: 332px;
        padding: 24px;
      }

      @include screens(lg)
      {
        min-width: 408px;
      }

      &__header
      {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__body
      {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__title
      {
        color: $clr-black;
        font-size: 18px;
        font-weight: 600;

        @include screens(md)
        {
          font-size: $font-ms;
        }
      }

      &--compact
      {
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 8px;
        min-height: unset;
        padding: 0;
        border-radius: 19px;
        background-color: transparent;
        box-shadow: none;

        .dashboard-page__analytics__box__body
        {
          height: fit-content;
        }
      }

      &--large
      {
        gap: 24px;
        min-height: 362px;
        padding: 24px;

        @include screens(md)
        {
          padding: 32px;
        }
      }
    }

    &__card
    {
      display: flex;
      align-items: center;
      gap: 8px;

      &__img
      {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $clr-white;
        box-shadow: 8px 8px 38px 0px rgba(234, 238, 246, 0.80);

        @include screens(sm)
        {
          width: 40px;
          height: 40px;
        }

        @include screens(md)
        {
          width: 64px;
          height: 64px;
        }

        @include screens(lg)
        {
          width: 72px;
          height: 72px;
        }
      }

      &__content
      {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $clr-gray-dark;
        font-size: 12px;
        font-weight: 300;

        @include screens(md)
        {
          font-size: 14px;
        }

        @include screens(lg)
        {
          font-size: 16px;
        }

        &__strong
        {
          font-size: 18px;
          font-weight: 700;

          @include screens(sm)
          {
            font-size: 20px;
          }

          @include screens(md)
          {
            font-size: 24px;
          }

          @include screens(lg)
          {
            font-size: 28px;
          }
        }
      }
    }
  }

  &__aside
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
  }

  &__ad-upgrade
  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 446px;
    padding: 52px 90px 52px 32px;
    border-radius: 16px;
    background: {
      image: url('/images/subscripe.svg');
      repeat: no-repeat;
      size: auto 100%;
    };
    color: $clr-white;

    &__title
    {
      max-width: 324px;
      font-size: 50px;
      font-weight: 700;
    }

    &__content
    {
      max-width: 265px;
      font-size: 18px;
      font-weight: 600px;
    }

    &__btn
    {
      width: 208px;
      height: 48px;
      border: none;
      color: $clr-main;
      background: white;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

