.landing
{
  &__main
  {
    overflow: hidden;
  }

  &__h
  {
    max-width: 91.1111%;
    min-width: 328px;
    width: max-content;

    @include screens(md)
    {
      max-width: 730px;
    }

    @include screens(lg)
    {
      max-width: 950px;
    }

    @include screens(xl)
    {
      max-width: 1100px;
    }

    @include screens(2xl)
    {
      max-width: 1200px;
    }
  }

  &__blured-blue
  {
    position: absolute;
    top: -20%;
    width: 327px;
    height: 480px;
    border-radius: 50%;
    background-color: $clr-main;
    opacity: 0.1;
    filter: blur(137px);

    @include screens(md)
    {
      width: 573px;
      height: 842px;
    }

    @include screens(lg)
    {
      width: 1125px;
      height: 1102px;
    }

    &--left
    {
      left: 0;
      transform: translateX(-75%);
    }

    &--right
    {
      right: 0;
      transform: translateX(75%);
    }
  }
}

.bg-pattern
{
  background: url('/images/bg-pattern.svg') no-repeat;

  @media (min-width: 1800px)
  {
    background-size: contain;
  }
}

