.form-login,
.form-login__inputs,
.form-login__footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-login
{
  width: 100%;
  gap: 28px;

  @include screens(md)
  {
    gap: 32px;
  }

  @include screens(lg)
  {
    gap: 40px;
  }
}

.form-login__inputs
{
  gap: 12px;

  @include screens(md)
  {
    gap: 16px;
  }
}

.form-login__footer
{
  gap: 8px;

  @include screens(md)
  {
    gap: 14px;
  }
}

