.order-show
{
  $border: 1px solid $clr-gray1;

  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 48px;

  &__header
  {
    display: flex;
    justify-content: space-between;
  }

  &__body
  {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__info-cards
  {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  &__info-card
  {
    display: flex;
    flex-direction: column;
    width: 33.33333%;
    max-width: 480px;
    min-width: 350px;
    aspect-ratio: 1.69402 / 1;
    border: $border;
    border-radius: 16px;

    &__header,
    &__body
    {
      padding-inline: 40px;
    }

    &__header
    {
      display: flex;
      gap: 12px;
      padding-top: 24px;
      padding-bottom: 16px;
      border-bottom: $border;
    }

    &__body
    {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 32px;
      row-gap: 24px;
      padding-block: 24px;
    }

    &__info
    {
      &__key
      {
        font-size: $font-ms;
        color: $clr-gray-dark;
      }

      &__value
      {
        font-size: $font-ms;
        font-weight: 300;
        color: $clr-gray4;
      }
    }
  }

  &__title
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: $clr-black;
    font-weight: 500;
  }

  &__icon
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $clr-gray-white;
  }

  &__products
  {
    display: flex;
    flex-direction: column;
    border: $border;
    border-radius: 16px;

    &__header,
    &__body
    {
      padding-inline: 40px;
    }

    &__header
    {
      display: flex;
      gap: 12px;
      padding-top: 24px;
      padding-bottom: 16px;
      border-bottom: $border;
    }

    &__body
    {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 24px;
      column-gap: 16px;
      padding-top: 32px;
      padding-bottom: 24px;
    }

    &__cell
    {
      display: flex;
      align-items: center;
      font-size: $font-m;
      color: $clr-gray4;

      &--head
      {
        color: $clr-gray-dark;
      }
    }

    &__img
    {
      width: 56px;
      height: 56px;
      border-radius: 4px;
      border: 1px solid $clr-gray1;
      overflow: hidden;

      img
      {
        width: 100%;
        height: 100%;
      }
    }
  }
}

