.customer-header
{
  display: flex;
  flex-direction: column;

  &__header
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search
  {
    width: 52%;
    height: 64px;
    max-width: 981px;
  }
}

