$clr-main: #16635A;
$clr-dark-main: #0d3934;
$clr-rose: #EAC7CD;
$clr-white: #FFFFFF;

$clr-gray-white: #F8F8F8;
$clr-gray0: #D9D9D9;
$clr-gray1: #B5B5B5;
$clr-gray2: #A0A0A0;
$clr-gray3: #747474;
$clr-gray4: #636363;
$clr-gray-dark: #3C3C3C;

$clr-black: #040f0e;

$clr-main-shadow: rgba(0, 122, 234, 0.24);
$clr-secondary-shadow: rgba(0, 122, 234, 0.70);
$clr-gray-shadow: rgba(115, 115, 115, 0.24);

$clr-rejected: #C01717;
$clr-active: #49B719;
$clr-orange: #D27303;

$__colors: (
  clr-main: $clr-main,
  clr-white: $clr-white,
  clr-gray-white: $clr-gray-white,
  clr-gray-dark: $clr-gray-dark,
  clr-black: $clr-black,
  clr-gray1: $clr-gray1,
  clr-gray2: $clr-gray2,
  clr-gray3: $clr-gray3,
  clr-gray4: $clr-gray4,
  clr-rejected: $clr-rejected,
  clr-active: $clr-active,
);

@each $class, $clr in $__colors
{
  .#{$class}
  { color: $clr !important }

  .bg-#{$class}
  { background-color: $clr !important }

  .border-#{$class}
  { border-color: $clr !important }
}

