$font-main-family: 'Roboto';

$font-xxxl: 72px;
$font-xxl: 64px;
$font-xl: 56px;
$font-l: 40px;
$font-m: 24px;
$font-ms: 20px;
$font-s: 16px;
$font-tiny: 12px;

.font-xxxl
{ font-size: $font-xxxl !important }

.font-xxl
{ font-size: $font-xxl !important }

.font-xl
{ font-size: $font-xl !important }

.font-l
{ font-size: $font-l !important }

.font-m
{ font-size: $font-m !important }

.font-ms
{ font-size: $font-ms !important }

.font-s
{ font-size: $font-s !important }

.font-tiny
{ font-size: $font-tiny !important }

