@use 'animations' as *;

.modal
{
  z-index: 1000;
}

.modal-loader
{
  width: 100px;
  height: 100px;
  border: 15px solid lighten($clr-main, 50);
  border-right-color: $clr-main;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

