@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import 'framework';
@import 'variables';

// Components
@import 'components';

// Sections
@import 'sections';

// Pages
@import 'pages';

// Layouts
@import 'layouts';

@import 'modals';

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html
{
  scroll-behavior: smooth;
  scroll-padding-top: 32px;
}

body
{
  font-family: $font-main-family;
}

a
{
  text-decoration: none;
}

.pointer
{
  cursor: pointer;
}

.bg-ribbon
{
  background: url('/images/red-ribbon.svg') no-repeat center;
}

.transition-flip
{
  transition: transform 200ms ease-out;

  &--applied
  {
    transform: rotate(-180deg);
  }
}

.no-select
{
  user-select: none;
}

/* width */
::-webkit-scrollbar
{
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track
{
    box-shadow: inset 0 1px 20px transparent;/* Hide Track */
    border-radius: 4px;

    &:hover ::-webkit-scrollbar-thumb
    {
      background: $clr-main;
    }
}

/* Track apear on hover*/
::-webkit-scrollbar-track:hover
{ background-color: rgb(150,150,150,0.1) }

/* Handle */
::-webkit-scrollbar-thumb
{
    background: transparent;
    border-radius: 4px;
}

*:hover::-webkit-scrollbar-thumb
{
  background: $clr-main;
}

body::-webkit-scrollbar-thumb
{
  background: $clr-main;
}

