.dashboard-nav
{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include screens(lg)
  {
    gap: 8px;
    width: 100%;
  }

  .dashboard-nav__link
  {
    width: 100%;
    display: flex;
    color: $clr-gray4;
    font-size: $font-ms;
    text-decoration: none;
    gap: 4px;

    &__indicator
    {
      display: none;
      opacity: 0;
      flex-shrink: 0;

      @include screens(lg)
      {
        display: block;
      }
    }

    &__content
    {
      width: calc(100% - 24px);
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 0 32px;
    }

    &--active
    {
      color: $clr-main;

      .path-fill
      {
        fill: $clr-main;
      }

      .path-stroke
      {
        stroke: $clr-main;
      }

      .dashboard-nav__link__indicator
      {
        opacity: 1;
      }
    }
  }
}

